@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Page Content -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5">213 Motorrade</h1>
          <p>Le premier club Algerien dédié à la moto et aux roadtrips.</p>
        </div>
      </div>
    </div>
  </section>
